<footer class="footer">
  <div class="py-5 text-center bg-dark text-light">
    <h4>أساس للإستثمار <%= now %> &copy;</h4>
    <a href="/">
      <img
        calt="mdo"
        width="70"
        height="60"
        src="/assets/media/logo.png"
        alt="logo"
      />
    </a>
  </div>
</footer>
