
<footer class="footer border-top mt-5">
	<div class="container-fluid">
		<div class="row mx-auto">
			<div class="col-12 col-md-6 col-lg-3 col-sm-12 border-bottom pb-5 mt-5">
				<h3 class="mb-3 border-bottom border-2 d-inline-block">أساس للإستثمار</h3>
				<p class="fw-normal text-muted">نقدم مجموعة متنوعة من الفرص الاستثمارية، كما ان  لدينا نهج مخصص لكل مستثمر، به نضمن لك أن تحصل على الدعم الذي تحتاجه لتحقيق أهدافك الاستثمارية.
					<br> لدينا فريق من الخبراء ذوي الخبرة الذين يفهمون السوق ويعرفون كيفية العثور على الفرص المربحة.</p>
			</div>
			<div class="col-12 col-md-6 col-lg-3 col-sm-12 border-bottom pb-5 mt-5">
				<h3 class="mb-3 border-bottom border-2 d-inline-block"> الإتصال بنا</h3>
				<div class="mt-2 fw-normal">
					<span class="icon-wrapper bg-dark">
						<i class="bi bi-geo-alt-fill"></i>
					</span>
					<span class="fw-normal fs-6 text">
						الشعبة , غرداية
					</span>
				</div>
				<div class="mt-2 fw-normal">
					<span class="icon-wrapper bg-dark">
						<i class="bi bi-envelope-fill"></i>
					</span>
					<span>
						Assas.fondation@gmail.com 
					</span>
				</div>
				<div class="mt-2 fw-normal">
					<span class="icon-wrapper bg-dark">
						<i class="bi bi-telephone-fill"></i>
					</span>
					<span>
						95 88 81 98 06
					</span>
				</div>
			
			</div>
			
			
		</div>
	</div>
	<div class="py-3 mt-3 text-center bg-dark text-light">
		<h4>أساس للإستثمار 2023</h4>
	</div>
</footer>