<!-- not logged in -->
<% if(!currentUser){%>
  <nav class="navbar navbar-expand-lg  px-2 my-3 ">-group
    <div class="container-fluid d-flex justify-content-between">
      <a class="navbar-brand m-0 text-success fs-2 h1" href="/">
        <img src="/assets/media/logo.png" alt="mdo" width="70" height="60" />أســاس للإستثمار</a>
      <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item px-2">
            <a class="nav-link text-secondary fs-5" href="/user/login">تسجيل الدخول</a>
          </li>
          <li class="nav-item px-2">
            <a class="nav-link text-secondary fs-5" href="/about">عن الاستثمار</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- logged in -->
  <% }else{ %>
    <nav class="navbar navbar-expand-lg px-2 my-3 ">
      <div class="container-fluid">
        <a class="navbar-brand m-0 text-success fs-2 h1" href="/">
          <img src="/assets/media/logo.png" alt="mdo" width="70" height="60" />أســاس للإستثمار</a>
        <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav">
            <li class="nav-item px-2">
              <a class="nav-link text-secondary fs-5" href="/case/<%= currentUser.id %>/main">واجهة المستخدم</a>
            </li>
            <li class="nav-item dropdown pe-2">
              <a class="nav-link dropdown-toggle text-secondary fs-5 ms-2" href="#" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                باقاتي
              </a>
              <ul class="dropdown-menu">
                <div class="d-flex flex-column">
                  <li>
                    <a class="dropdown-item text-dark fs-5" href="/case/<%= currentUser.id %>">باقاتي السارية</a>
                  </li>
                  <li>
                    <a class="dropdown-item text-dark fs-5" href="/case/<%= currentUser.id %>/cases">سجل الإستثمار</a>
                  </li>
                </div>
              </ul>
            </li>
            <% if (currentUser.role.includes('أدمين')){ %>
              <li class="nav-item dropdown pe-2">
                <a class="nav-link dropdown-toggle text-secondary fs-5" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  الباقات
                </a>
                <ul class="dropdown-menu">
                  <div class="d-flex flex-column">
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/pack/new">إضافة باقة</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/pack">سجل الباقات</a>
                    </li>
            
                  
                  </div>
                </ul>
              </li>
              <li class="nav-item dropdown pe-2">
                <a class="nav-link dropdown-toggle text-secondary fs-5" href="#" role="button" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  إعدادات المستثمرين
                </a>
                <ul class="dropdown-menu">
                  <div class="d-flex flex-column">

                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/user/register">إضافة مستثمر</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/user/">سجل المستثمرين</a>
                    </li>

                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/case/new">إضافة باقة لمستثمر</a>
                    </li>

                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/case">سجل باقات المستثمرين</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/profits">إعلان أرباح الباقة</a>
                    </li>
                    <li>
                      <hr class="dropdown-divider" />
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/withdraw/new">سحب لمستثمر</a>
                    </li>
                    <li>
                      <a class="dropdown-item text-dark fs-5" href="/withdraw">سجل سحوبات المستثمرين</a>
                    </li>

                  </div>
                </ul>
              </li>

              <% } %>
                <li class="nav-item pe-2">
                  <a class="nav-link text-secondary fs-5" href="/announcement">الإعلانات</a>
                </li>
                <li class="nav-item pe-2">
                  <a class="nav-link text-secondary fs-5" href="/about">عن الاستثمار</a>
                </li>
          </ul>
          <div class="dropdown float-left">
            <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown"
              aria-expanded="false">
              <span class="fs-5  text-desertSand mx-3">
                <%= currentUser.fullname %>
              </span>

            </a>
            <ul class="dropdown-menu text-small">
              <li>
                <a class="dropdown-item" href="/user/www/profile">معلوماتي الشخصية</a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="/user/logout">تسجيل الخروج</a></li>
            </ul>
          </div>
        </div>
      </div>
      <!--profile and sign out-->
    </nav>
    <% } %>