.bg-lotion {
  background-color: rgba(230, 235, 229, 0.3058823529);
}

.bg-desertSand {
  background-color: #11794c;
}

.bg-poseidon {
  background-color: #133955;
}

.bg-pistachio {
  background-color: rgba(199, 231, 210, 0.3098039216);
}

.bg-Citrine {
  background-color: #7f7836;
}

.bg-menthol {
  background-color: rgba(250, 249, 216, 0.4666666667);
}

.bg-tealdeer {
  background-color: #476145;
}

.bg-greenSea {
  background-color: #66b0a7;
}

.bg-pearlAqua {
  background-color: rgba(13, 172, 92, 0.6196078431);
}

.bg-crystalBlue {
  background-color: #afd9ea;
}

.bg-lightCoral {
  background-color: #e2564c;
}

.bg-mediumTurquoise {
  background-color: #16a7ba;
}

.bg-antiqueSteel {
  background-color: #5d6b0d;
}

.bg-tealdeer {
  background-color: #476145;
}

.text-lotion {
  color: rgba(230, 235, 229, 0.3058823529);
}

.text-poseidon {
  color: #133955;
}

.text-tealdeer {
  color: #476145;
}

.text-desertSand {
  color: #11794c;
}

.text-antiqueSteel {
  color: #5d6b0d;
}

.text-menthol {
  color: rgba(250, 249, 216, 0.4666666667);
}

.text-citrine {
  color: #7f7836;
}

.text-pistachio {
  color: rgba(199, 231, 210, 0.3098039216);
}

.text-crystalBlue {
  color: #afd9ea;
}

.text-greenSea {
  color: #66b0a7;
}

.text-pearlAqua {
  color: rgba(13, 172, 92, 0.6196078431);
}

.text-lightCoral {
  color: #e2564c;
}

.text-mediumTurquoise {
  color: #16a7ba;
}

.btn-greenSea {
  color: #fff;
  background-color: #66b0a7;
  border-color: #66b0a7;
}

.btn-poseidon {
  color: #fff;
  background-color: #133955;
  border-color: #133955;
}

.btn-outline-greenSea {
  color: #66b0a7;
  border-color: #66b0a7;
}

.btn-outline-greenSea:hover {
  color: #fffdfd;
  background-color: #66b0a7;
  border-color: #66b0a7;
}

.btn-greenSea:hover {
  color: #fff;
  background-color: #66b0a7;
  opacity: 0.8;
}

.btn-pearlAqua {
  color: #545454;
  background-color: rgba(13, 172, 92, 0.6196078431);
  border-color: rgba(13, 172, 92, 0.6196078431);
}

.btn-outline-pearlAqua {
  color: rgba(13, 172, 92, 0.6196078431);
  border-color: rgba(13, 172, 92, 0.6196078431);
}

.btn-outline-pearlAqua:hover {
  color: #fffdfd;
  background-color: rgba(13, 172, 92, 0.6196078431);
  border-color: rgba(13, 172, 92, 0.6196078431);
}

.btn-pearlAqua:hover {
  background-color: rgba(13, 172, 92, 0.6196078431);
  opacity: 0.8;
}

.btn-crystalBlue {
  color: #fff;
  background-color: #afd9ea;
  border-color: #afd9ea;
}

.btn-crystalBlue:hover {
  color: #fff;
  background-color: #afd9ea;
  opacity: 0.8;
}

.btn-mediumTurquoise {
  color: #fff;
  background-color: #16a7ba;
  border-color: #16a7ba;
}

.btn-mediumTurquoise:hover {
  color: #fff;
  background-color: #16a7ba;
  opacity: 0.8;
}

.btn-outline-mediumTurquoise {
  color: #16a7ba;
  border-color: #16a7ba;
}

.btn-outline-mediumTurquoise:hover {
  color: #fffdfd;
  background-color: #16a7ba;
  border-color: #16a7ba;
}

.btn-lightCoral {
  color: #fff;
  background-color: #e2564c;
  border-color: #e2564c;
}

.btn-lightCoral:hover {
  color: #fff;
  background-color: #e2564c;
  opacity: 0.8;
}

.btn-outline-lightCoral {
  color: #e2564c;
  border-color: #e2564c;
}

.btn-outline-lightCoral:hover {
  color: #fffdfd;
  background-color: #e2564c;
  border-color: #e2564c;
}

.btn-pistachio {
  color: #fff;
  background-color: rgba(199, 231, 210, 0.3098039216);
  border-color: rgba(199, 231, 210, 0.3098039216);
}

.btn-pistachio:hover {
  color: #fff;
  background-color: rgba(199, 231, 210, 0.3098039216);
  opacity: 0.8;
}

.btn-antiqueSteel {
  color: #fff;
  background-color: #5d6b0d;
  border-color: #5d6b0d;
}

.btn-antiqueSteel:hover {
  color: #fff;
  background-color: #5d6b0d;
  opacity: 0.8;
}

.alert-greenSea {
  color: #4c837c;
  background-color: rgba(199, 231, 210, 0.3098039216);
  border-color: rgba(199, 231, 210, 0.3098039216);
}

.table-greenSea {
  --bs-table-bg: #5bb8ad91;
  --bs-table-striped-bg: #caede9;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bbd8d5;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #caede9;
  --bs-table-hover-color: #000;
  color: #555353;
  border-color: #bcd0c7;
}

.border-poseidon {
  --bs-border-opacity: 1;
  border-color: rgba(19, 57, 85, var(--bs-border-opacity)) !important;
}

.border-tealdeer {
  --bs-border-opacity: 1;
  border-color: rgba(71, 97, 69, var(--bs-border-opacity)) !important;
}/*# sourceMappingURL=colors.css.map */