<!-- Button trigger modal -->
<button type="button" class="btn btn-secondary  px-2 py-1" data-bs-toggle="modal" data-bs-target="#logs-<%= user.id %>">
  <i class="bi bi-file-text"></i>
</button>

<!-- Modal -->
<div class="modal fade" id="logs-<%= user.id %>" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">سجل الدخول</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <% for (login of user.loggedIn) {%>
        <p class="text-start lh-base"> <%= moment(login).format("DD/MM/YYYY hh:mm")%></p>
        <% } %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-lightCoral bg-gradient" data-bs-dismiss="modal">
          إغلاق
        </button>
      </div>
    </div>
  </div>
</div>