<% layout('layouts/boilerplate')%>
<div
  class=" d-flex justify-content-center align-items-center mx-3"
  id="register-box"
>
  <div class=" p-2 shadow-sm border rounded-3 bg-light">

  <h1 class="display-6 text-success text-center mb-3">إضافة باقة جديدة</h1>
  
    <form class="row g-3 m-2 needs-validation" action="/pack" method="POST">
      
      <div class="form-floating col-md-6 mb-2">
        <input
          dir="rtl"
          class="form-control border border-success"
          type="text"
          id="title"
          name="pack[title]"
          placeholder="اسم الباقة"
          required
        />
        <label for="title" class="form-labelfs-6">إسم الباقة:</label>
        <div class="valid-feedback">صحيح</div>
      </div>

      <div class="form-floating mb-2 col-3">
        <input
          class="form-control border border-success"
          type="number"
          id="period"
          name="pack[period]"
          placeholder="مدة الباقة"
          required
        />
        <label for="period" class="form-labelfs-6">المدة:</label>
        <div class="valid-feedback">صحيح</div>
      </div>

      <div class="form-floating col-3 mb-2">
        <select id="unite" name="pack[unite]" class="form-select border border-success">
          <option selected disabled value="">الوحدة</option>
          <option class="option" value="يوم">يوم</option>
          <option class="option" value="أسبوع">أسبوع</option>
          <option class="option" value="شهر">شهر</option>
        </select>
        <label for="unite" class="form-label">الوحدة</label>
        <div class="valid-feedback">صحيح</div>
      </div>

      <div class="mb-2">
        <textarea
          class="form-control border border-success"
          type="text"
          id="description"
          name="pack[description]"
          placeholder="تفاصيل الباقة"
          rows="4"
          required
        ></textarea>
        <div class="valid-feedback">صحيح</div>
      </div>
      <div class="form-check form-switch mb-2">
        <input
          class="form-check-input"
          type="checkbox"
          name="pack[state]"
          role="switch"
          id="state"
          checked
        />
        <label class="form-check-label" for="state"> تفعيل الباقة؟</label>
      </div>
      <div class="mb-2">
        <button class="w-100 btn btn-lg btn-success">
          إضافة الباقة
        </button>
      </div>
    </form>
  
</div>
</div>