<% layout('layouts/boilerplate')%>

<h1 class="text-success display-5 text-center mb-4">سجل الباقات</h1>
<div
  class="d-flex justify-content-center align-items-center mx-5"
  id="register-box"
>
<div class="flex-grow-1 d-flex flex-column flex-wrap justify-content-evenly text-center mx-5">



  <% for (let pack of packs) { %>
  <div
    class="my-2 shadow-sm p-3 bg-lotion rounded-3 border border-poseidon"
  >
    <div
      class="p-2 mb-3 bg-pistachio rounded-3 border border-success opacity-75"
    >
      <h4 class=" fw-semibold fs-3 text-tealdeer"><%= pack.title %></h4>
    </div>
    <div class="p-2 mb-3 bg-menthol rounded-3 border border-warning opacity-75">
      <h4 class=" fs-3 text-citrine">
        <%= pack.period %> <%= pack.unite %>
      </h4>
    </div>
    <div
      class="px-2 py-5 mb-3 rounded-3 border bg-white border-dark opacity-75"
    >
      <h4 class=" fs-3"><%= pack.description %></h4>
    </div>
  </div>
  <% } %>
</div>
</div>
