<section class="hero">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
     
      <div class="d-flex flex-row justify-content-center align-items-center mt-5">
        
        <div class="">
            <img src="/assets/media/coinpic.jpg" alt="mdo" width="500px" height="400px">
        
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
          <div class="p-4 ">
                   <h1 class="fs-1">منصة جزائرية للإستثمار الحلال</h1>
          </div>
          <div class="">
                   <p>لوحة للتحكم في أرقامك بكل سهولة و امتياز</p>
          </div>
      </div>
    </div>
    </div>
  </div>
</section>
