<section class="hero">
  <div class="py-5 mx-2 my-3 rounded-5 bg-Chinesesilver">
    
      <div class="row align-items-center mt-5" >
        
        <div class=" col-md-4 col-sm-12">
            <img src="/assets/media/mainpage.png" alt="mdo" width="100%" height="100%">
        
        </div>
        <div class="col-md-8 col-sm-12 text-center">
          <div class="pb-4 ">
                   <h1 class=" display-3 fw-bold text-desertSand">أساس للاستشارات والاستثمار</h1>
          </div>
          <div class="">
                    <p class="text-highsilver fst-italic fs-4">حيث نجسد معنى الابتكار والثقة في عالم الاستثمار للتحكم في أرقامك بكل سهولة و امتياز</p>
                    <p class="fw-bold text-lightCoral fs-3 my-4">اختياركم لـ "أساس للاستشارات والاستثمار" هو بداية رحلتكم نحو النجاح المالي</p>
          </div>
      </div>
    </div>
    
  </div>
</section>
