<section class="hero">
  <div class="mx-5 px-5">
    
      <div class="row align-items-center mt-5">
        
        <div class=" col-md-4 col-sm-12">
            <img src="/assets/media/mainpage.png" alt="mdo" width="100%" height="100%">
        
        </div>
        <div class="col-md-8 col-sm-12 text-center">
          <div class="pb-5 ">
                   <h1 class=" display-1 fw-bold ">أساس للاستشارات والاستثمار</h1>
          </div>
          <div class="fs-3">
                    <p>حيث نجسد معنى الابتكار والثقة في عالم الاستثمار للتحكم في أرقامك بكل سهولة و امتياز</p>
                    <p>اختياركم لـ "أساس للاستشارات والاستثمار" هو بداية رحلتكم نحو النجاح المالي</p>
          </div>
      </div>
    </div>
    
  </div>
</section>
