<a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  <i class="bi bi-translate" id="selected-language"></i> <%= t("language") %>
</a>
<ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
  <li><a class="dropdown-item" href="/en">English</a></li>
  <li><a class="dropdown-item" href="/fr">French - Français</a></li>
  <li><a class="dropdown-item" href="/ar">Arabic - العربية</a></li>
</ul>