<% layout('layouts/boilerplate')%>

  <!-- ---------------------------------------------- -->
  <div class="container bg-Chinesesilver p-3 rounded-3 mb-5">
    <div class="mb-5">
      <h3 class="display-6 text-center text-success">سجل المحادثات</h3>
      <%- include("./new") %>

    </div>
        
      
   
    <script>
        let currentUser = <%- JSON.stringify(currentUser) %>;
    </script>